@import './main.scss';

.userHomeBody {
   height: 80%;
   display: flex;
   justify-content: space-around;
}

.card-div {
   width: 20%;
   margin-top: 100px;
   border: 1px solid $color_primary_light;
}

.card {
   width: 100%;
   height: 300px;
}

.card-img {
   width: 100%;
   height: 60%;
}

.card-title {
   color: $color_primary;
   font-size: 22px;
}

.cart-icon {
   float: right; 
   cursor: pointer;
}

.icon:hover {
   color: $color_primary;
}