$color_primary: #4ABBA9;
$color_primary_light: #E1FCF7;
$color_accent: #28303A;
$color_accent_light: #BCBCBC;
$color_accent_lighter: #f2efef;

body, html{
   height: 100%;
   width: 100%;
}

#root{
   height: 100%;
   width: 100%;
}

@import 'material-icons/iconfont/material-icons.scss';